-- DDL Script was generated by Orange for ORACLE
-- using session 'CLEANSING@CLEANSION_NEW' on '2019/08/20 14:19:36'.

CREATE OR REPLACE FUNCTION FN_BUNHO_CLEANSING(I_VAL VARCHAR2, I_STD_FORMAT VARCHAR2, I_PATTERN VARCHAR2)

RETURN VARCHAR2

IS 

    V_PATTERN VARCHAR2(4000);
    V_VAL VARCHAR2(4000);
    V_CHG_PSB_FLAG VARCHAR2(10);
    V_LENGTH INTEGER(11);
    RESULT_VAL VARCHAR2(4000);

BEGIN

    V_PATTERN := REPLACE(I_PATTERN, ' ','');
    V_VAL := TRIM(REPLACE(REGEXP_REPLACE(I_VAL, '[^[:digit:]]', ''), ' ',''));
    V_LENGTH := LENGTH(V_VAL);
    RESULT_VAL := I_VAL;
    V_CHG_PSB_FLAG := 'FALSE';
    
    IF((I_VAL LIKE '%,%' AND I_VAL NOT LIKE '%,') OR ((SUBSTR(REPLACE(I_VAL,' ',''),1,1) = '-') AND (SUBSTR(REPLACE(REGEXP_REPLACE(I_VAL, '[[:digit:]]', '9'),' ',''),1,2) <> '-9' )) OR (REPLACE(REGEXP_REPLACE(I_VAL, '[[:digit:]]', '9'),' ','') LIKE '%(9)')  ) THEN
    
        RETURN I_VAL;
    
    END IF;

    /* =======================================================================================================
    
            전화번호        
    
    =========================================================================================================*/
    IF(I_STD_FORMAT LIKE '%전화번호') THEN 
        
        IF(SUBSTR(V_VAL,1,2) = '00') THEN 
        
            V_VAL := SUBSTR(V_VAL,2);
        
        END IF;
        
        IF(SUBSTR(V_VAL,1,1) = '0') THEN
            
            IF(V_VAL LIKE '010%') THEN 
            
                RESULT_VAL := REGEXP_REPLACE(REGEXP_REPLACE (V_VAL, '[^[:digit:]]'), '(^[[:digit:]]{3})([[:digit:]]{3,4})([[:digit:]]{4}$)', '\1-\2-\3');
            
            ELSIF(V_VAL NOT LIKE '010%' AND LENGTH(V_VAL) > 8 ) THEN
            
                IF(SUBSTR(V_VAL,1,2) = '02') THEN 
                    RESULT_VAL :=  REGEXP_REPLACE(REGEXP_REPLACE (V_VAL, '[^[:digit:]]'),'(^02|050[[:digit:]]{1}|[[:digit:]]{3})([[:digit:]]{3,4})([[:digit:]]{4})', '\1-\2-\3');
                    
                ELSIF(SUBSTR(V_VAL,3,1) < '6') THEN
                    RESULT_VAL :=  REGEXP_REPLACE(REGEXP_REPLACE (V_VAL, '[^[:digit:]]'),'(^02|050[[:digit:]]{1}|[[:digit:]]{3})([[:digit:]]{3,4})([[:digit:]]{4})', '\1-\2-\3');

                END IF;

            END IF;    
            
            IF(LENGTH(SUBSTR(RESULT_VAL,INSTR(RESULT_VAL, '-',-1)+1)) > 4) THEN 
                
                RESULT_VAL := I_VAL;
            
            END IF;
            
        ELSIF (SUBSTR(V_VAL,1,1) = '1' AND LENGTH(V_VAL) = 8 ) THEN 
        
            RESULT_VAL := SUBSTR(V_VAL,1,4)||'-'||SUBSTR(V_VAL,5);  

        ELSE
        
            IF(LENGTH(V_VAL) = 7) THEN
            
                RESULT_VAL := SUBSTR(V_VAL,1,3)||'-'||SUBSTR(V_VAL,4);  
            
            ELSIF(LENGTH(V_VAL) = 8) THEN 
            
                RESULT_VAL := SUBSTR(V_VAL,1,4)||'-'||SUBSTR(V_VAL,5);  
            
            END IF;
        
        END IF;

    
    END IF;   
    
    
    
    /* =======================================================================================================
    
            우편번호        
              
    =========================================================================================================*/
    
    IF(I_STD_FORMAT LIKE '%우편번호') THEN 
        
        IF(V_LENGTH IN (5,6)) THEN
            IF(V_LENGTH = 6) THEN
                /*여섯자리일 경우 999-999 형태로 변환 시키기 */
                RESULT_VAL := SUBSTR(V_VAL,1,3)||'-'||SUBSTR(V_VAL,4,3);
            ELSE
                RESULT_VAL := V_VAL;
                
            END IF;
        ELSE
            RESULT_VAL := I_VAL;
        END IF;
    END IF;   
    
    
    /* =======================================================================================================
    
            사업자번호        
    
    =========================================================================================================*/
   IF(I_STD_FORMAT IN('사업자번호','사업자등록번호') ) THEN 
        
        IF(V_LENGTH = 10) THEN
           RESULT_VAL := SUBSTR(V_VAL,1,3)||'-'||SUBSTR(V_VAL,4,2)||'-'||SUBSTR(V_VAL,6);
        ELSE
           RESULT_VAL := I_VAL;
        END IF;       
    END IF;   
    

    IF(RESULT_VAL = I_VAL) THEN 
    
        RESULT_VAL := REPLACE(I_VAL, ' ','');
    
    END IF;
    

    RETURN RESULT_VAL;
    
END;